sqlalchemy==2.0.37
httpx[http2]==0.28.1
psycopg[binary]==3.2.4
psycopg2-binary==2.9.10
pydantic==2.10.5
pydantic-settings==2.7.1
python-dotenv==1.0.1
setuptools==75.8.0
SQLAlchemy==2.0.37
sqlalchemy-json==0.7.0
fastapi==0.115.6
hypercorn==0.17.3
toml==0.10.2
rq-dashboard-fast==0.5.10
sqlmodel==0.0.22