
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_LINK_MODE: copy
  UV_PROJECT_ENVIRONMENT: ".venv"
  UV_CACHE_DIR: .uv-cache

  OA_REPO_DIR:
    description: "Absolute path to parent where this repository is cloned for ingest jobs"
  OA_TMP_CONF:
    description: "Path to conf/secret-temp.env"
  OA_PROD_CONF:
    description: "Path to conf/secret-prod.env"
  OA_API_LAG:
    description: "Number of days to look back when pulling updates from OpenAlex API"
    value: "28"
  OA_WORKER_RUNTIME:
    description: "Time in seconds to run a queue worker for"
    value: "300"

cache:
  - key:
      files:
        - uv.lock
    paths:
      - $UV_CACHE_DIR

before_script:
  # Provides credentials to pip to access private GitLab PyPi index.
  - echo "machine gitlab.pik-potsdam.de" > ~/.netrc
  - echo "  login gitlab-ci-token" >> ~/.netrc
  - echo "  password ${CI_JOB_TOKEN}" >> ~/.netrc

.env:
  before_script:
    - echo "Current working directory and user"
    - pwd
    - whoami
    - groups
    - echo $HOME
    - echo "Go to deployment location"
    - cd $OA_REPO_DIR
    - ls -lisah
    - cd nacsos-academic-search
    - git stash
    - git pull origin main
    - cd openalex-ingest
    - python3.13 -m venv .venv
    - source .venv/bin/activate
    - which python
    - which pip
    - pip install uv
    - uv sync --active --no-sources
    - uv pip freeze

ResetSnapshot:
  except:
    - schedules
  stage: build
  tags:
    - rechner-bare
  when: manual
  allow_failure: false
  extends: .env
  script:
    - cd $OA_REPO_DIR
    - cd snapshot
    - ./scripts/01_sync_s3.sh --config $OA_TMP_CONF
    - ./scripts/02_solr_setup.sh --config $OA_TMP_CONF
    - ./scripts/03_load.sh --config $OA_TMP_CONF
    - ./scripts/04_swap.sh --temp-config $OA_TMP_CONF --prod-config $OA_PROD_CONF

# Daily update stages
#  - OA_DAILY_API
#  - OA_DAILY_ABSTRACTS
#  - OA_DAILY_BACKFILL

SchedulePULL:
  # to be scheduled once a day
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $OA_JOB == "pull-api-update"
  tags:
    - rechner-bare
  allow_failure: false
  extends: .env
  script:
    - cd $OA_REPO_DIR
    - source .venv/bin/activate
    - uv sync --active --no-sources
    - cd openalex-ingest
    - ls -lisah
    - export TODAY="$(date +"%Y-%m-%dT%H-%M-%S")"
    - export DATE="$(date -d "$TODAY $OA_API_LAG days ago" +%Y-%m-%d)"
    - echo $OA_LAG
    - echo $TODAY
    - echo $DATE
    - PYTHONPATH=. python daily/pull_api_update.py day --config="${OA_PROD_CONF}" --date="${DATE}" --loglevel="INFO" --solr-buffer-size=200

ScheduleTRANSFER:
  # to be scheduled every few hours
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $OA_JOB == "transfer-abstracts"
  tags:
    - rechner-bare
  allow_failure: false
  extends: .env
  script:
    - cd $OA_REPO_DIR
    - cd openalex-ingest/
    - ls -lisah
    - PYTHONPATH=. python daily/fix_abstracts.py transfer --config="${OA_PROD_CONF}" --no-force-overwrite --loglevel="INFO" --batch-size=200

ScheduleWORKER:
  # to be scheduled assuming runtime 5min (300 sec), schedule every 6min "*/6 * * * *"
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $OA_JOB == "queue-work"
  tags:
    - rechner-bare
  allow_failure: false
  extends: .env
  parallel:
    matrix:
      - SOURCE: [SCOPUS DIMENSIONS WOS PUBMED]
  script:
    - cd $OA_REPO_DIR
    - cd openalex-ingest/
    - ls -lisah
    - PYTHONPATH=. python worker/main.py transfer --config="${OA_PROD_CONF}" --loglevel="INFO" --batch-size=200 --max-runtime=$OA_WORKER_RUNTIME --sources=$SOURCE --min-abstract-len=50
