
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_LINK_MODE: copy
  UV_PROJECT_ENVIRONMENT: ".venv"
  UV_CACHE_DIR: .uv-cache

  OA_REPO_DIR:
    description: "Absolute path to parent where this repository is cloned for ingest jobs"
  OA_TMP_CONF:
    description: "Path to conf/secret-temp.env"
  OA_PROD_CONF:
    description: "Path to conf/secret-prod.env"
  OA_LOOKBACK:
    description: "Number of days to look back when pulling updates from OpenAlex"
    value: "2"

cache:
  - key:
      files:
        - uv.lock
    paths:
      - $UV_CACHE_DIR

before_script:
  # Provides credentials to pip to access private GitLab PyPi index.
  - echo "machine gitlab.pik-potsdam.de" > ~/.netrc
  - echo "  login gitlab-ci-token" >> ~/.netrc
  - echo "  password ${CI_JOB_TOKEN}" >> ~/.netrc


ResetSnapshot:
  except:
    - schedules
  stage: build
  tags:
    - rechner-bare
  when: manual
  allow_failure: false

  script:
    - echo "Current working directory and user"
    - pwd
    - whoami
    - groups
    - echo $HOME
    - echo "Go to deployment location"
    - cd $OA_REPO_DIR
    - ls -lisah
    - cd nacsos-academic-search
    - git stash
    - git pull origin main
    - cd openalex-ingest
    - python3.13 -m venv .venv
    - source .venv/bin/activate
    - which python
    - which pip
    - pip install uv
    - uv sync --active
    - cd snapshot
    - ./scripts/01_sync_s3.sh --config $OA_TMP_CONF
    - ./scripts/02_solr_setup.sh --config $OA_TMP_CONF
    - ./scripts/03_load.sh --config $OA_TMP_CONF
    #- ./scripts/04_swap.sh --temp-config $OA_TMP_CONF --prod-config $OA_PROD_CONF