### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

__pycache__/
tmp.py
*.env
solr/

.idea/
pg_users_secret.sql
cyth/
!cyth/setup.py
!cyth/*.pyx
data/
config/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.error
*.access

uv.lock